main .section.cards-container {
  padding-top: 10px;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1,minmax(0,1fr));
}

.cards > ul > li {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 1rem;
}

.cards h2 {
  font-weight: bold;
  color: #080808;
  font-size: var(--heading-font-size-xs);
}

.cards > ul > li p {
  font-size: var(--body-font-size-s);
}

@media (width >= 900px) {
  .cards > ul {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
}

.cards .cards-card-image picture {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.cards .cards-card-image picture img {
  width: 100%;
  height: auto;
  display: block;
}
