.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}

.section.peach div.columns-3-cols > div > div {
    position: relative;
    padding-left: 70px;
}

.section.peach div.columns-3-cols > div > div:first-of-type::before {
    content: '';
    display: block;
    height: 60px;
    width: 60px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('/icons/Smock_Calendar_18_N.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section.peach div.columns-3-cols > div > div:nth-of-type(2)::before {
    content: '';
    display: block;
    height: 60px;
    width: 60px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('/icons/Smock_Trophy_18_N.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section.peach div.columns-3-cols > div > div:nth-of-type(3)::before {
    content: '';
    display: block;
    height: 60px;
    width: 60px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('/icons/Smock_GlobeOutline_18_N.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }

    .columns.unbalanced-left > div > div:first-of-type {
        flex: 2;
    }
}