main .winners-carousel-container .winners-carousel-wrapper {
  position: relative;
  width: 100%;
  color: #000;
}

main .winners-carousel {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

@media (width >= 900px) {
  main .winners-carousel {
    width: 50%;
  }
}

main .winners-carousel::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

main .winners-carousel > div,
main .winners-carousel .carousel-slide-card {
  flex-shrink: 0;
  width: 100%;
  background-color: var(--background-color);
}

main .winners-carousel .carousel-slide-card {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid white;
  background-color: white;
  width: 100%;
  border-radius: 9999px;
  grid-template-areas: "overlay";
  overflow: hidden;
}

main .winners-carousel .carousel-slide-card .carousel-slide-card-image {
  grid-area: overlay;
  overflow: hidden;
  display: flex;
  width: 100%;
  border-radius: 9999px;
}

main .winners-carousel .carousel-slide-card .carousel-slide-card-image picture,
main .winners-carousel .carousel-slide-card .carousel-slide-card-image img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* carousel nav */
main .winners-carousel .carousel-nav {
  position: absolute;
  top: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #000;
  color: var(--text-color-invert);
  opacity: .4;
  box-shadow: var(--box-shadow);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;
  line-height: 1.25rem;
}

main .winners-carousel:hover .carousel-nav {
  display: flex;
}

main .winners-carousel .carousel-nav:hover {
  opacity: .6;
}

main .winners-carousel .carousel-nav.carousel-nav-left {
  left: 2%;
}

main .winners-carousel .carousel-nav.carousel-nav-left::after {
  content: '<';
}

main .winners-carousel .carousel-nav.carousel-nav-right {
  right: 2%;
}

main .winners-carousel .carousel-nav.carousel-nav-right::after {
  content: '>';
}

@media (width >= 900px) {
  main .winners-carousel .carousel-nav.carousel-nav-right {
    right: 52%;
  }
}

main .winners-carousel .carousel-slide-card .carousel-slide-card-content {
  gap: 1rem;
  grid-area: overlay;
  align-self: flex-end;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  padding: 1em;
}

main .winners-carousel .carousel-slide-card .carousel-slide-card-content > div:first-child {
  background-color: var(--highlight-background-color);
  border-radius: 9999px;
  display: inline-flex;
  padding: .25em .75em;
  font-size: var(--body-font-size-xs);
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

main .winners-carousel .carousel-slide-card .carousel-slide-card-content > div:nth-child(2) {
  font-weight: 600;
  font-size: var(--heading-font-size-m);
  line-height: 2.25rem;
}

main .winners-carousel .carousel-slide-card .carousel-slide-card-content a {
  font-size: var(--body-font-size-s);
}
