/* header and nav layout */
header nav {
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / 50px 1fr 50px;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 1;
  background-color: var(--dark-background-color);
  width: 100vw;
  height: var(--nav-height);
  box-sizing: border-box;
  font-family: var(--body-font-family);
}

header nav a:any-link {
  color: currentcolor;
}

.icon-home {
    display: inline-flex;
}

.icon-home svg {
  height: 24px;
  width: 23px;
}

/* desktop nav styles */
@media (min-width: 1000px) {
  header nav {
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    padding: 16px 2rem;
  }
}
