div.container-flexbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
}

div.container-flexbox > * {
    padding: 1rem;
    background-color: #999;
    align-items: center;
}

div.container-flexbox > *:nth-child(1) {
    background-color: red;
    color: white;
}

div.live-voting-wrapper > div.container-flexbox > div > a {
    color: #fff;
    text-decoration: none;
}

div.live-voting-wrapper > div.qr-all {
    width: 100%;
}

div.container-flexbox > *:nth-child(2) {
    background-color: blue;
    color: white;
}

div.container-flexbox > *:nth-child(3) {
    background-color: orange;
    color: white;
}

div.container-flexbox h2 {
    text-align: center;
}

#chart-container {
    height: 500px;
}

.container-vote {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

button.protected-vote {
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    visibility: visible;
}

button.protected-vote.disabled {
    visibility: hidden;
}
