.hero-container {
  z-index: 1;
  min-height: 20rem;
  color: var(--text-color-invert);
  background-color: var(--highlight-background-color);
}

@media (min-width: 900px) {
  .hero-container {
      min-height: 30rem;
  }
}

.hero picture {
  margin: auto;
}

.hero img {
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}

.hero > div > div {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}
