.section-background-container {
    position: relative;
    z-index: -1;
    
}

/* 
:has isn't well supported, once it is, ucomment this and remove the relevent js and css

.section-background-container:has(div.section-background.hero) {
    min-height: 40rem;
}

@media (min-width: 900px) {
    .section-background-container:has(div.section-background.hero) {
        min-height: 50rem;
    }
} 
*/

/* begin :has workaround */

.section-background-container.hero-container {
    min-height: 40rem;
}

@media (min-width: 900px) {
    .section-background-container.hero-container {
        min-height: 50rem;
    }
} 

/* end :has workaround */

.section-background picture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}

.section-background img {
    object-position: top right;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-background.hero img {
    object-position: 100% 80%;
}
