div.info-container .info-wrapper {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #c7c7ca;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

div.info.block {
    padding: 16px;
}

.info h3 {
    font-size: 1.6rem;
    font-family: var(--font-family);
    margin-top: 0;
}